---
import ExperienceItem from "./TimelineItem.astro"
const EXPERIENCE = [
  {
    date: "Primer trimestre (meses 1–3)",
    title: "Captación de clientes y validación del modelo",
    company: "Hagalink S.L.",
    description:
      "Durante este periodo se llevará a cabo la captación de los primeros clientes, validando el modelo de trabajo ágil propuesto y publicando la web oficial de la empresa para establecer presencia en línea.",
    },
    {
    date: "Segundo trimestre (meses 4–6)",
    title: "Constitución legal y consolidación",
    company: "Hagalink S.L.",
    description:
      "Se formalizará la constitución legal de la empresa, se consolidará la base de clientes iniciales y se profesionalizará el proceso de captación para garantizar un crecimiento sostenible.",
    },
    {
    date: "Tercer trimestre (meses 7–9)",
    title: "Optimización y expansión",
    company: "Hagalink S.L.",
    description:
      "Se trabajará en la automatización de procesos internos, se participará activamente en eventos del sector para aumentar la visibilidad y se explorarán nuevas ideas de producto para diversificar la oferta.",
    },
    {
    date: "Cuarto trimestre (meses 10–12)",
    title: "Crecimiento y planificación futura",
    company: "Hagalink S.L.",
    description:
      "El año cerrará con resultados positivos, se ampliará la visibilidad de la empresa en el mercado y se desarrollará una planificación estratégica para abordar los objetivos del segundo año.",
    },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>