@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "@midudev/tailwind-animations";



body {
    font-family: 'Onest', sans-serif;
    font-display: swap;
    font-weight: 300; 
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 1000;
}

.important-text {
    font-weight: 1000;
}

.img-gradient {
    mask-image: linear-gradient(
        black 90%,
        transparent
    );
}

.logo-gradient {
    mask-image: linear-gradient(
        transparent,
        black 100%
    );
}

.glow-text {
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.5), 0 0 10px rgba(255, 255, 255, 0.3);
}

.glow-title {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5), 0 0 10px rgba(255, 255, 255, 0.3);
}