---
import { FiGithub } from "react-icons/fi";
import { SiIonos } from "react-icons/si";
---

<header class="fixed top-0 left-0 w-full bg-transparent z-60">
  <nav class="container mx-auto flex items-center justify-between py-4 px-6">
    <a href="/" class="text-white text-sm font-light gap-2 flex items-center "><img src="/favicon.svg" class="size-8"/>Hagalink S.L.</a>
    <ul class="flex space-x-6 items-center">
      <li><a href="https://github.com/hagalink" class="text-gray-300 hover:text-white "><FiGithub className="size-7 hover:scale-110 transition-all duration-300"/></a></li>
      <!-- <li><a href="https://login.ionos.es/?redirect_url=https%3A%2F%2Fmy.ionos.es%2Fdomains" class="text-gray-300 hover:text-white"><SiIonos className="size-10 hover:scale-120 transition-all duration-300"/></a></li> -->
    </ul>
  </nav>
</header>