---
---

<section class="text-neutral-100 text-center lg:text-start mt-32 flex flex-wrap justify-center items-center gap-8 px-4">
  <h1 class="text-4xl md:text-6xl lg:text-8xl max-w-full md:max-w-2xl">¿Qué problema resolvemos?</h1>
  <div class="prose prose-invert text-center md:text-start text-sm md:text-base max-w-xs md:max-w-lg">
    Hagalink es una startup que pone fin al software rápido y mal hecho.  
    Desarrollamos soluciones a medida con inteligencia artificial, pero con un enfoque consciente: análisis profundo del negocio, trato humano, jornada laboral de 4 días y salud mental como prioridad.  
    No buscamos ser los más rápidos, sino los mejores.  
    Y, sobre todo, los más humanos en un mundo cada vez más artificial.
    
    <br>
    <br>
    
    Muchas startups, pymes y asesorías enfrentan la necesidad de digitalizarse, pero solo encuentran soluciones genéricas, mal adaptadas o desarrolladores que no comprenden su negocio.  
    La inteligencia artificial se presenta como una moda, no como una herramienta útil y práctica.

    <br>
    <br>
    
    Falta algo esencial: proveedores que realmente escuchen, analicen cada caso a fondo y ofrezcan soluciones hiperpersonalizadas, con cercanía, criterio y calidad.  
    Eso es lo que hoy sigue sin resolverse.
  </div>
</section>