---
import { SliderStackTecnico } from "../components/jsx/SliderStackTecnico";
---

<section id="stack-tecnico" class="max-w-xs md:max-w-xl lg:max-w-[70%] mx-auto mt-50">
  <SliderStackTecnico client:visible />
</section>  