---
import '../styles/global.css';
import Header from '../components/jsx/Header';
import { string } from 'astro:schema';

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="h-full w-full">
		<div class="relative h-full w-full bg-gray-800">
			<div class="absolute inset-0 bg-[linear-gradient(to_right,#6b6b6b3e_1px,transparent_1px),linear-gradient(to_bottom,#6b6b6b3e_1px,transparent_1px)] bg-[size:14px_24px] [mask-image:radial-gradient(ellipse_60%_50%_at_50%_0%,#000_70%,transparent_100%)]"></div>
			<Header />
			<slot />

		</div>
	</body>
</html>
