---
import '../styles/global.css';
import Header from '../components/jsx/Header';
const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<title>{title}</title>
		<meta name="description" content="En Hagalink ofrecemos desarrollo de software, consultoría en inteligencia artificial, mantenimiento técnico y más. Apostamos por soluciones sólidas y humanas a largo plazo." />
		<meta name="keywords" content="desarrollo software, consultoría IA, mantenimiento técnico, soluciones tecnológicas, hagalink" />
		<meta property="og:title" content="Hagalink S.L. - Inicio" />
		<meta property="og:description" content="En Hagalink ofrecemos desarrollo de software, consultoría en inteligencia artificial, mantenimiento técnico y más. Apostamos por soluciones sólidas y humanas a largo plazo." />
		<meta property="og:image" content="/path/to/og-image.jpg" />
		<meta property="og:url" content="https://hagalink.es" />
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content="Hagalink S.L. - Inicio" />
		<meta name="twitter:description" content="En Hagalink ofrecemos desarrollo de software, consultoría en inteligencia artificial, mantenimiento técnico y más. Apostamos por soluciones sólidas y humanas a largo plazo." />
		<meta name="twitter:image" content="/path/to/twitter-image.jpg" />
		<link rel="canonical" href="https://hagalink.es" />
		<link rel="icon" href="/favicon.svg" type="image/svg" />
	</head>
	<body class="h-full w-full overflow-x-hidden">
			<div class="fixed inset-0 -z-10 h-full w-full [background:radial-gradient(125%_125%_at_50%_10%,#000_40%,#898893_150%)]"></div>
			<Header />
			<main>
				<slot />
			</main>
		</div>
	</body>
</html>
